<div class="container">
  <h1 class="mb-4">There are currently
    {{{numOfWords}}}
    words stored in our database</h1>
  {{#if recentlyAddedWords}}
    <h2 class="mb-4"><u>Recently Added</u></h2>
    {{#each recentlyAddedWords}}
      <a href="/word/{{this.name}}" class="link-no-decoration">
        <div class="recently-added-words-link-div row">
          <div class="col-lg-1">
            <img
              src="https://cdn.botbook.dev/{{this.name}}_0.webp"
              alt="{{this.name}}"
              class="img-fluid recently-added-word-img"
            />
          </div>
          <div class="col-lg-11">
            <span class="recently-added-word-name">
              {{capitalize this.name}}
            </span>
            <p>
              {{this.definition}}
            </p>
          </div>
        </div>
      </a>
    {{/each}}
  {{/if}}
  <hr />
  <h2><u>Browse</u></h2>
  <div class="row">
    {{#each browseList}}
      <div class="col-lg-3 col-md-4 browse-list-letter-divs">
        <span class="browse-list-letter">{{capitalize this.letter}}
          <span
            class="browse-list-num-of-words"
          >({{this.numOfWords}})</span></span>
        {{#each this.words}}
          <a href="/word/{{this}}" class="browse-list-links">{{this}}</a>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>